<fieldset id="payment" data-hook>
    <legend align="center"><%= Spree.t(:payment_information) %></legend>
    <div data-hook="checkout_payment_step">
        <% if @payment_sources.present? %>
            <div class="card_options">
                <%= radio_button_tag 'use_existing_card', 'yes', true %>
                <label for="use_existing_card_yes">Use an existing card on file</label>
                <br/>
                <%= radio_button_tag 'use_existing_card', 'no' %>
                <label for="use_existing_card_no">Use a new card / payment method</label>
            </div>
            <div id="existing_cards">
                <p class="field" data-hook="existing_cards">
                    <table class="existing-credit-card-list table table-bordered">
                        <tbody>
                            <% @payment_sources.each do |card| %>
                                <tr id="<%= dom_id(card,'spree')%>" class="<%= cycle('even', 'odd') %>">
                                    <td><%= card.name %></td>
                                    <td><%= card.display_number %></td>
                                    <td><%= card.month %></td>
                                    <td><%= card.year %></td>
                                    <td>
                                        <%= radio_button_tag "existing_card", card.id, (card == @payment_sources.first), { class: "existing-cc-radio" }  %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </p>
            </div>
        <% end %>
        <div id="payment-method-fields" data-hook>
            <% @order.available_payment_methods.each do |method| %>
                <div class="panel-group paymentMethod" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading panel-heading-custom">
                            <h4 class="panel-title">
                                <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
                                <strong>
                                    <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
                                </strong>
                            </h4>
                        </div>
                        <div id="payment_method_<%= method.id %>" class="panel-collapse" data-hook>
                            <div class="panel-body">
                                <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <br style="clear:both;" />
        <p class='field' data-hook='coupon_code'>
            <%= form.label :coupon_code %><br />
            <%= form.text_field :coupon_code %>
        </p>
    </div>
</fieldset>
<div class="cartFooter row" data-hook="buttons">
    <div class="box-footer">
        <div class="pull-right">
            <%= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-primary btn-small' %>
            <script>Spree.disableSaveOnClick();</script>
        </div>
    </div>
</div>
