<div class="navbar-collapse collapse">
    <ul id="main-nav-bar" class="nav navbar-nav theme-background">
        <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
        <% taxo = Spree::Taxonomy.find_by(:name => "categories") %>
        <% if taxo %>
            <% taxo.root.children.each do |taxon| %>
                <% cache [I18n.locale, taxon, 1] do %>
                    <li class="dropdown megamenu-fullwidth">
                        <a class="btn" href="/t/categories/<%= taxon.name %>">
                            <%= Spree.t(taxon.name) %>
                        </a>
                    </li>
                <% end %>
            <% end %>
        <% end %>
        <li> <a href="/products" ><%= Spree.t(:all) %></a></li>
    </ul>
    <div class="nav navbar-nav navbar-right hidden-xs">
        <div class="dropdown cartMenu">
            <a href="/cart" data-toggle="dropdown">
                <i class="fa fa-shopping-cart"> </i>
                <span id="link-to-cart" class="cartRespons">
                    Cart
                    <noscript>
                        <%= Spree.t(:cart) %>
                    </noscript>
                </span>
            </a>
        </div>
    </div>
</div>
<script>Spree.fetch_cart()</script>
