<% @content_class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" %>
<% featured_products = Spree::Taxon.where(:name => "featured").first.products %>
<div class="banner" data-hook="homepage_products">
    <div class="container">
        <h3 class="section-title style2 text-center"><span>FEATURED</span></h3>
        <div class="row">
            <div id="featuredCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#featuredCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#featuredCarousel" data-slide-to="1"></li>
                    <li data-target="#featuredCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <% featured_products.each_with_index do |product, i| %>
                        <% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
                        <div class="item <%= 'active' if i == 0 %>">
                            <%= link_to large_image(product, :itemprop => "image"), url, :itemprop => 'url' %>
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1><%= product.name %></h1>
                                    <p><%= product.description %></p>
                                    <p><%= link_to "Details", url, :itemprop => "name", :title => product.name, :class => "btn btn-lg btn-primary" %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
                <a class="left carousel-control" href="#featuredCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#featuredCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>
<div class="container main-container">
    <h3 class="section-title style2 text-center"><span>NEW ADDITIONS</span></h3>
    <div class="row xsResponse">
        <% products = Spree::Product.order("available_on DESC").limit(12) %>
        <% products.each do |product| %>
            <%= render :partial => 'spree/shared/product', locals: { product: product } %>
        <% end %>
    </div>
</div>
<div class="container main-container">
    <div class="morePost row featuredPostContainer style2 globalPaddingTop " >
        <h3 class="section-title style2 text-center"><span>FEATURED TEAS</span></h3>
        <div class="container">
            <div class="row xsResponse">
                <% featured_products.each do |product| %>
                    <%= render :partial => 'spree/shared/product', locals: { product: product } %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'home' %>
